body {
    font-family:Indie Flower sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #0044aa;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #00398a;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    text-align: center;
}

section {
    padding: 20px;
}

.sucursal {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background: #0044aa;
    color: white;
}

footer {
    background: #0044aa;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
a:hover {
color: red;
background-color: yellow;
padding: 4px 6px;
border-radius: 6px;
}
.logo-fijo {
    top: 20px;
    right: 30px;
    width: 100px;
    height: auto;
    z-index: 9999;
    position: absolute;
}